<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PMan</title>
  </head>
  <body>
    <h1>SignIn!</h1>
    <form method="POST" action="/user/signin/github">
      <input value="GitHub" type="submit">
    </form>
  </body>
</html>
